body, header, h1, h2, h5, ul{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e4e4e4;
}

body > header, body > footer{
    background-color: rgb(54,54,54);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

body > header > h1{
    font-family: 'Courier New', Courier, monospace;
}

nav{
    margin: 0 5%;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    width: 45%;
    margin: 10px 0 0;
    text-align: center;
    background-color:rgb(54,54,54);
}

nav ul li:nth-child(odd){
    margin-right: 10%;
}

nav ul li a{
    display: inline-block;
    width:100%;
    height: 100%;
    padding: 5px 0;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

nav ul li:hover a, nav ul li a.active{
    color:rgb(219, 69,83);
}

main{
    margin: 20px 5% 0;
}

article > form, form, main > section{
    background-color: #fff;
    border: 1px solid #cacaca;
    margin-bottom: 20px;
    min-height: 400px;
}

article > form > header > div{
    height: 200px;
    text-align: center;
}

article > form > img{
    max-height: 100%;
    max-width: 100%;
}

article > form > div{
    height: 200px;
    text-align: center;
    margin-bottom: 50px;
}

article > form > h2, article > form > p{
    padding: 0 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article > form > section{
    padding: 0 5%;
    font: 12px Verdana, Geneva, Tahoma, sans-serif;
}

article > form > footer{
    padding: 20px 5% 5%;
    text-align: right;
}

article > form > footer > a, form ul li input[type="submit"], article > form > footer > input[type="submit"]]{
    padding: 5px 10px;
    background-color: rgb(221, 221, 221);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article > form > footer > a:hover{
    color:rgb(219, 69,83);
}

form{
    padding: 20px 5%;
}

form h2, main > section > h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 20px;
}

form ul{
    list-style: none;
    width: 80%;
    margin: 0 10%;
}

form ul li{
    margin-bottom: 20px;
}

form ul li:last-child{
    text-align: right;
}

form ul li label{
    display: inline-block;
    width: 50%;
}

form ul li input:not([type="submit"]){
    width: 50%;
    box-sizing: border-box;
}

form ul li input[type="submit"]:hover{
    cursor: pointer;
    color:rgb(219, 69,83);
}

main > section{
    padding: 20px 5%;
}

table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table td, table th{
    border: 1px solid #000;
    padding: 5px 0;
}

table th{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table td{
    text-align: center;
}

aside{
    margin: 0 5% 20px;
    background-color:#fff;
    border: 1px solid #cacaca;
    box-sizing: border-box;
}

aside > section{
    padding: 20px 5%;
}

aside > section > h2{
    font: bold 16px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 15px;
}

aside > section > ul{
    list-style: none;
}

aside > section > ul > li{
    margin-bottom: 10px;
}

aside > section > ul > li > img{
    width: 50px;
    float: left;
    margin-right: 5px;
}

aside > section > ul > li > a{
    font: bold 12px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

aside > section > ul > li > a:visited{
    color: #000;
}

aside > section > ul > li > a:hover{
    color:rgb(219, 69,83);
}

body > footer > p{
    font-family: 'Courier New', Courier, monospace;
}



@media screen and (min-width:768px){
    nav{
        margin: 0 10%;
    }
    nav ul li{
        width: 19%;
    }

    nav ul li:not(:last-child){
        margin-right: 8%;
    }

    main, aside{
        display: inline-block;
        vertical-align: top;
    }

    main{
        width: 50%;
        margin: 20px 5% 0 10%;
    }

    aside{
        width: 25%;
        margin: 20px 10% 0 0;

    }

    form ul{
        width: 50%;
        margin: 0 25%;
    }

    table{
        width: 80%;
        margin: 0 10%;    
    }
}